//
// Some Useful color Vars via http://clrs.cc/
//

// VARIABLES FOR PORTFOLIO SITE
// Colors
// ------

//
// VERSION 2.1 Colors
//
$light-blue: #79d7d7
$orange-red: #f84b06
$black-blue: #0f161c
$white-1: #fdfdff
$red-tan: #d0c1be
$orange-tan: #d79058

//
// VERSION 2.0 Colors NEW GREENISH COLORS
//
$feather: #77C9D4
$marine: #57BC90
$forrest: #015249
$sleek-grey: #A5A5AF
$light-gold: #E9C893
$white-green: #F8FEF2

$darkgrey: #3b3530
$teal: #29B2B2
$darkorange: #ff7814
$grey: #564e49
$nav-bar-black: rgba(17,17,17,0.85)
$bg-blue: #3E567C

//
// General Colors for Site
// 
$html-orange-D: #e44d26
$html-orange-L: #ee8f77
$css-blue-D: #1572b6
$css-blue-L: #5fb2ec
$javascript-yellow-D: #f0db4f
$javascript-yellow-L: #f9f0b9
$php-purple-D: #6181b6
$php-purple-L: #a8bad7
$cpp-maroon-D: #AB2957
$cpp-maroon-L: #D97A95
$python-yellow-D: #ffd845
$python-yellow-L: #ffe999
$java-red-D: #eb3738
$java-red-L: #f48b8b
$mysql-blue-D: #00618a
$mysql-blue-L: #33c2ff

// Gray Scale
$white:  #FEFBF7
$silver: #ddd
$gray:   #aaa
$black:  #222

//
// SIZES
// 
$nav-height: 6.2rem
$nav-height-V2_1: 8rem
