<!-- CONTENT -->
<div class="content">

	<!-- Content | About -->
	<div class="about">
		<h2 class="content-title">A little about me ...</h2>

		<h3>Education</h3>

		<p class="school-names">SARAH LAWRENCE COLLEGE - relevant courseload (2013-2014)</p>
		<ol>
			<li>Databases</li>
			<li>The Way of the Program</li>
		</ol>
		<br>
		<p class="school-names">OHIO UNIVERSITY - relevent courseload (2014-2016)</p>
		<ol>
			<li>Introduction to Computer Science I and II</li>
			<li>Discrete Structures</li>
			<li>Software Engineering Development and Tools</li>
			<li>Data Structures</li>
			<li>Organization of Programming Languages</li>
			<li>Operating Systems</li>
		</ol>

		<h3>Languages</h3>
		<div class="icons">
			<div class="logo-html">{% include icons/HTML.html %}</div>
			<div class="logo-css">{% include icons/CSS.html %}</div>
			<div class="logo-js">{% include icons/javascript.html %}</div>
			<div class="logo-cpp">{% include icons/cpp.html %}</div>
			<div class="logo-php">{% include icons/php.html %}</div>
			<div class="logo-python">{% include icons/python.html %}</div>
		</div>
	</div>
</div>