<!-- CONTENT STUFF -->
<div id="home" class="eye-candy">

	<img src="./assets/img/headshot.png" alt="headshot">
	<h2><span class="blurb">STUDENT / DEVELOPER / PROGRAMMER<span></h2>

</div>

<div class="content">
	
	<div id="about" class="container">
		<!-- Content | About -->
		<div class="about col-1">
			<h2>About</h2>
			<p>Hi, my name is <strong>Augustus R. Oberdick</strong>. I was born and raised in Columbus, OH and have been an avid programmer/coder for 4 years now. My interests include <strong>front-end</strong>, <strong>software</strong>, and <strong>UI/UX</strong> development as I wish to create my own applications and websites. Currently, I am in pursuit of a BS in Computer Science at Ohio University. As a developer, I am always seeking new challenges and knowledge for I am naturally motivated and curious.</p>

			<h3>Interests</h3>
			<ul>
				<li>Programming</li>
				<li>Design/Web Development</li>
				<li>Software Engineering</li>
				<li>Music</li>
				<li>Movies</li>
			</ul>
		</div>

		<div class="education col-2">
			<h2>Education</h2>
			<div class="school-description">
				<span class="school-logo"><a href="#">{% include icons/slc.html %}</a></span>
				<h3>Sarah Lawrence College (2013-2014)</h3>
				<ul>
					<li>The Way of the Program</li>
					<li>Databases</li>
				</ul>
			</div>
			<div class="school-description">
				<h3>Ohio University (2014-present)<span><a href="#">{% include icons/oulogo.html %}</a></span></h3>
				<ul>
					<li>Introduction to Computer Science I and II</li>
					<li>Discrete Structures</li>
					<li>Software Engineering Development and Tools</li>
					<li>Data Structures</li>
					<li>Organization of Programming Languages</li>
					<li>Operating Systems</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="skills" class="container">
		<div class="language">
			<div class="col-1">
				<h2>Web Development</h2>
				<p>Web design allows me to create experiences for web users,
					and to show the creative nature of my work. Here are some of my skills:
				</p>
				<div class="lang-icons">
					<div class="icon">{% include icons/HTML.html %}</div>
					<span class="outer"><span class="inner" id="html"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/CSS.html %}</div>
					<span class="outer"><span class="inner" id="css"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/javascript.html %}</div>
					<span class="outer"><span class="inner" id="javascript"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/php.html %}</div>
					<span class="outer"><span class="inner" id="php"></span></span>
				</div>
			</div>
			<div class="col-2">
				<h2>Software Development</h2>
				<p>Through my education, I have learned many tools that allow me to understand the concepts of software development. Here are some of my skills with programming languages:
				</p>
				<div class="lang-icons">
					<div class="icon">{% include icons/cpp.html %}</div>
					<span class="outer"><span class="inner" id="cpp"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/java.html %}</div>
					<span class="outer"><span class="inner" id="java"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/python.html %}</div>
					<span class="outer"><span class="inner" id="python"></span></span>
				</div>
				<div class="lang-icons">
					<div class="icon">{% include icons/mysql.html %}</div>
					<span class="outer"><span class="inner" id="mysql"></span></span>
				</div>
			</div>
		</div>
		<div class="container">
			<h2>Work Experience</h2>
			<p><strong>STUDENT TUTOR AT OHIO UNIVERSITY, ATHENS OH</strong><br>
				2015-present
			</p>
			<ul>
				<li>Tutor computer science and programming</li>
				<li>Tutor Introduction to Computer Science I and II in C++</li>
				<li>Interact and guide other students through projects, coursework, and test preparation</li>
				<li>Develop strong communication skills</li>
			</ul>

			<br><br><a href="//guso1330.github.io/GusOberdick/assets/AOberdickResume.pdf"><strong>LINK TO PDF RESUME</strong></a>
		</div>
	</div>

	<section id="contact" class="contact">
		<h3>Contact Me</h3>

		<form method="POST" action="//formspree.io/go125412@ohio.edu">

			<fieldset class="contact-info-group">
				<label><span>Your Name</span>
					<input type="text" name="name">
				</label>

				<label>
					<span>Your Email</span>
				<input type="email" name="_replyto"></label>
			</fieldset>

			<label>
				<span>Let's talk</span>
				<textarea name="message"></textarea>
			</label>

			<fieldset class="submit-wrap">
				<input type="submit" value="Send">
			</fieldset>

		</form>	
	</section>
<!-- 	<div class="email">
		<a class="biglink" href="mailto:go125412@ohio.edu">go125412@ohio.edu</a>
	</div> -->

</div>