<!-- FOOTER -->
<footer>
	<div class="footer-content clearfix">
		<p>&copy Gus Oberdick 2015</p>
		<div class="icons">
			<div class="logo-facebook"><a href="https://www.facebook.com/gus.oberdick">{% include icons/facebook.html %}</a></div>
			<div class="logo-linkedin"><a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">{% include icons/linkedin.html %}</a></div>
			<div class="logo-github"><a href="https://github.com/guso1330">{% include icons/github.html %}</a></div>
		</div>
	</div>
</footer>