<!-- HEADER -->
<div class="mobile-nav mobile-down">
	<ul>
		<a href="#home"><li>home</li></a>
		<a href="#about"><li>about</li></a>
		<a href="#skills"><li>skills</li></a>
		<a href="#contact"><li>contact</li></a>
	</ul>
</div>

<header class="head-down">
	<nav class="nav-bar clearfix">
		<h2><a href="#home">gus<strong>oberdick</strong></a></h2>


		<ul>
			<li><a href="#about">about</a></li>
			<li><a href="#skills">skills</a></li>
			<li><a href="#contact">contact</a></li>
		</ul>

		<!-- Mobile nav -->
		<div class="mobile-nav-toggle">
			<span id="menu-bar1"></span>
			<span id="menu-bar2"></span>
			<span id="menu-bar3"></span>
		</div>
	</nav>
</header>