<!-- Content | Work -->
<div class="work">
	<div class="work-content">
		<h2 class="content-title">Work</h2>
<!-- 					<p>Game made with the phaser javascript framework</p> -->
        <div class="game">
        	<!-- <button id="toggleGame">Start Game</button> -->

        	<script type="text/javascript">
				// var toggleGame = document.getElementById('toggleGame');

				// var flag;
				// toggleGame.addEventListener('click', function() {
				// flag^=1;
				// toggleGame.textContent = (flag) ? 'End Game' : 'Start Game';

				// document.body.addEventListener('keydown', function(e) {
				// var badKey = 40; //down arrow
				// if (flag && e.keyCode === badKey) {
				// console.log('down arrow stopped!!');
				// e.preventDefault();
				// }
				// });
        	</script>

			<iframe class src="airplane_tank_rocket/index.html" name="airplane tank rocket" width="1024" height="768" frameborder="0" scrolling="no" seamless="seemless">
			   <p>Your browser does not support iframes.</p> >
			</iframe>

        </div>
	</div>
</div>