/////////////////////// 
//   Content Stuff   // 
///////////////////////
.eye-candy
	width: 100%
	height: calc(100vh - 64px)
	position: relative
	background: url("../img/cbus_skyline.jpg"), no-repeat
	background-size: cover
	padding-top: 64px

	+display(flex)
	+flex-direction(column)
	+justify-content(center)
	+align-items(center) 

	img
		width: 40vh
		// fix weird stretch
		height: 40vh
		display: block
		margin: 0 auto
		padding-bottom: 50px
	h2
		font-weight: 700
		text-align: center
		color: $white
		letter-spacing: 0.05em
		line-height: 1.05
		padding: 0 12px
	.blurb
		background-color: rgba(0,0,0,0.5)
		display: inline-block
		padding: 0.3em 0.5em
		border: 6px solid $white

.content
	h2
		padding-bottom: 10px
	h3
		padding: 10px 0
	p
		padding: 10px 0
	ul
		list-style-type: circle
		list-style-position: inside

.container
	height: 100%
	max-width: 90%
	margin: 0 auto
	padding: 20px 0
	+clearfix

.col-1
	float: left
	width: 45%

.col-2
	width: 45%
	margin-left: 50%

.school-description
	margin-left: 110px
	// padding-bottom: 20px
	span
		display: block
		float: left
		margin-left: -110px
		margin-top: 5px
		svg
			+size(90px)
@media screen and (max-width: 900px)
	.col-1
		float: none
		width: 100%
	.col-2
		margin: 0
		width: 100%
		padding-left: 0
		padding-top: 20px
@media screen and (max-width: 640px)
	.school-description
		margin-left: 0
		span
			display: none

.language
	padding-bottom: 20px
	+clearfix

.lang-icons
	width: 100%
	+display(flex)
	+align-items(center)
	+justify-content(flex-start)
	.icon
		float: left
		padding: 10px 10px 10px 0
		+size(10%)
		+clearfix
	span
		display: inline-block
		width: 60%
		height: 20px
	.outer
		border: solid 2px $black
		border-radius: 6px
		z-index: 6
	.inner
		border-radius: 4px 
		z-index: 5

//
// WORK
// 
.work-exp
	+clearfix
	.job-description
		font-size: 1.3em
		font-weight: 700
		padding: 5px 0

//
// RESUME
//
a
	color: $white
	.resume-container
		background-color: $teal
		font-size: 2em
		width: 100%
		margin-top: 30px
		padding: 50px 0
		&:hover
			background-color: $orange
			webkit-transition: background-color .5s
			transition: background-color .5s
		p
			text-align: center
	@media (max-width: 700px)
		&:hover
			background-color: $teal

// 
// CONTACT
//
.contact
	background: $darkgrey
	color: $white
	padding: 20px 0
	text-align: center
	width: 100%
	h3
		padding: 0

form
	max-width: 450px
	margin: 0 auto
	padding: 15px 0
	label span
		padding: 5px 0
	input, textarea
		border: 2px solid $black
		border-radius: 3px
		width: 100%
		+box-sizing(border-box)
		padding: 10px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none

		&:focus
			outline: none
			border-color: $teal

	textarea
		height: 10em
		resize: none

	.submit-wrap
		text-wrap: right

	[type="submit"]
		background: $black
		color: $white
		font-size: 18px
		text-transform: uppercase
		width: 33%
		&:hover
			background: $grey

	.contact-info-group
		+clearfix

		label
			width: 50%
			float: left
			+box-sizing(border-box)
			padding-left: 10px

		&:nth-child(1)
			padding-right: 10px

		&:nth-child(2)
			padding-left: 10px

	label
		display: block
		margin-bottom: 20px

		span
			display: block


@media (max-width: 541px)
	form
		.contact-info-group

			label
				width: 100%
				padding: 0

			&:nth-child(1)
				padding: 0

			&:nth-child(2)
				padding: 0

		[type="submit"]
			width: 100%