.eye-candy
	width: 100%
	height: calc(100vh - 64px)
	position: relative
	background: url("../img/cbus_skyline.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: center 20%
	box-shadow: 0px 0px 25px 0px rgba(10,25,90,0.95)
	padding-top: 64px

	+display(flex)
	+flex-direction(column)
	+justify-content(center)
	+align-items(center) 

	img
		width: 40vh
		// fix weird stretch
		height: 40vh
		display: block
		margin: 0 auto
		padding-bottom: 50px
	h2
		font-weight: 700
		text-align: center
		color: $white
		letter-spacing: 0.05em
		line-height: 1.05
		padding: 0 12px
	.blurb
		background-color: rgba(0,0,0,0.5)
		border: 3px solid $white
		display: inline-block
		font-weight: 300
		padding: 0.3em 0.5em