///////////////////////
//     Head Stuff    //
///////////////////////
.head-up
	@include transition(top .2s)
	top: -64px

.head-down
	@include transition(top .2s)
	top: 0px

.mobile-up
	@include transition(top .2s)
	top: -208px

.mobile-down
	@include transition(top .2s)
	top: 0px

header
	width: 100%
	height: $nav-height
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75)
	background-color: $white-green
	position: fixed
	z-index: 990
	.nav-bar
		color: $white
		margin: 0 auto
		position: relative
		text-transform: capitalize
		width: 70%
		h2
			display: inline-block
			float: left
			line-height: $nav-height
		ul
			float: right
			li
				@include transition(border-bottom 0.5s)
				float: left
				letter-spacing: 1.5px
				line-height: 59px
				text-align: center
				width: 80px
			li:hover
				border-bottom: solid 3px $light_gold
		a
			color: $forrest
			font-weight: 300
	
		//
		// MOBILE NAV
		//	

		.mobile-nav-toggle
			display: none
			width: 32px
			height: 32px
			float: right
			align-items: center
			cursor: pointer
			position: relative

			span
				content: ""
				display: block
				height: 2px
				width: 100%
				background: $forrest

			span.teal,
				background: $teal
			
			#menu-bar1
				position: absolute
				left: 0px
				top: 4px

			#menu-bar3
				position: absolute
				left: 0px
				bottom: 4px
			
			// **COOL ANIMATION**
			// &:hover span
			// 	background: transparent
			// &:hover span:before,
			// &:hover span:after
			// 	transform-origin: center
			// 	transform: rotate(45deg)
			// 	top: 0
			// &:hover span:after
			// 	transform: rotate(-45deg)

.mobile-nav
	z-index: 999
	display: none
	position: fixed
	right: 0
	width: 40%
	background: $nav-bar-black
	margin-top: 64px
	ul
		list-style: none
		margin: 0
		padding: 0
		a
			color: $white
		li
			text-align: center
			padding: 10px 0
			&:hover
				background: $darkgrey

.mobile-nav.is-open
	display: block

@media screen and (max-width: 700px)
	header
		.nav-bar
			width: 90%
			h2 a:hover
				background-color: rgba(0,0,0,0)
				color: $white
			ul
				display: none
				a li
					&:hover
						background-color: none

			.mobile-nav-toggle
				display: flex

@media screen and (min-width: 700px)
	.mobile-nav.is-open
		display: none