.content
	margin: 0 auto
	max-width: 960px

.hidden
	visibility: hidden

.logos
	// height: 300px
	padding: 50px 0
	text-align: center

.animate
	transition: all 1.0s ease-in-out
	-moz-transition: all 1.0s ease-in-out
	-webkit-transition: all 1.0s ease-in-out

.school-logo
	display: inline-block
	height: 200px
	margin: 0 auto
	position: relative
	width: 200px
	&:first-child
		padding-right: 40px
	&:last-child
		padding-left: 40px
	svg
		display: block
		height: 200px
		position: absolute
		width: 200px